---
const { tils, showTags = true } = Astro.props;
---

{
  tils.map(async (til) => {
    const {
      data: { source, pubDate, tags },
      slug,
      render,
    } = til;

    const { Content } = await render();
    return (
      <>
        <time class="pub-date" datetime={pubDate}>
          {pubDate}
        </time>
        <div class="til-content">
          <Content />
          {source && (
            <p class="source-text">
              Source:
              <a href={source} target="_blank">
                {source}
              </a>
            </p>
          )}
          <a class="link-to-til" href={`/til/${slug}`}>
            Link to TIL
          </a>
          {showTags &&
            tags &&
            tags.map((tag) => {
              return (
                <a class="tag" href={`/til/${tag}`}>
                  #{tag}
                </a>
              );
            })}
        </div>
      </>
    );
  })
}

<style>
  a {
    width: fit-content;
  }

  .tag {
    margin-left: 10px;
    background-color: ;
  }
  .link-to-til {
    margin-right: 16px;
    font-size: 24px;
    font-weight: 500;
  }
  .til-content {
    padding: 20px 30px;
    margin: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--text-2);
  }

  .pub-date {
    font-size: 15px;
    margin-top: 20px;
  }

  .source-text {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
