---
const { tils } = Astro.props;
---

{
  tils.map(async (nonDraftTil) => {
    const {
      data: { source, pubDate },
      slug,
      render,
    } = nonDraftTil;

    const { Content } = await render();
    return (
      <>
        <time class="pub-date" datetime={pubDate}>
          {pubDate}
        </time>
        <div class="til-content">
          <Content />
          {source && (
            <p class="source-text">
              Source:
              <a href={source} target="_blank">
                {source}
              </a>
            </p>
          )}
          <a href={`/til/${slug}`}>Link to TIL Body</a>
        </div>
      </>
    );
  })
}

<style>
  a {
    width: fit-content;
  }

  .til-content {
    padding: 20px 30px;
    margin: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--text-2);
  }

  .pub-date {
    font-size: 15px;
    margin-top: 20px;
  }
  .source-text {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
