---
import SiteLayout from "./SiteLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<SiteLayout>
  <article>
    {
      heroImage && (
        <img
          src={heroImage}
          width="640"
          height="360"
          alt="A Hero Image for the blog post"
        />
      )
    }
    <h1 class="title">{title}</h1>
    {pubDate && <time>{pubDate}</time>}
    {
      updatedDate && (
        <div>
          Last updated on <time>{updatedDate}</time>
        </div>
      )
    }
    {
      description && (
        <div>
          <h4>{description}</h4>
        </div>
      )
    }
    <hr />
    <slot />
  </article>
</SiteLayout>
<style>
  img {
    max-width: 100vw;
  }
</style>
